* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Console", Courier, monospace;
    background-color: #000000;
}

h1{
  color: white;
  font-size: 2em;
  text-shadow: 1px 1px 15px #ff0000;
}

p {
  color: white;
  font-family: monospace;
  border: 3px solid black;
  display: block;
  margin-left: 4cm;
  margin-right: 4cm;
  padding: 30px 0;
  position: static;
  font-size: 1.4em;
}

h2 span {
  color: white;
  font: bold 25px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}
/* NOTE: PADROES DO BODY*/
body{
  text-align: center;
}

/* NOTE: PADROES PARA IMAGEM DO HEADER*/
.imgHeader {
  color: #0B6121;

}

.texServicos{
  text-align: justify;
}

.imgSuitePadrao{
  color: white;
  font-family: monospace;
  text-align: left;
  border: 3px solid black;
  display: block;
  margin-left: 4cm;
  margin-right: 4cm;
  padding: 30px 0;
  position: static;
  font-size: 1.4em;
}

.imgDeluxe{
  color: white;
  font-family: monospace;
  text-align: left;
  border: 3px solid black;
  display: block;
  margin-left: 4cm;
  margin-right: 4cm;
  padding: 30px 0;
  position: static;
  font-size: 1.4em;
}

.imgCrowded{
  color: white;
  font-family: monospace;
  text-align: left;
  border: 3px solid black;
  display: block;
  margin-left: 4cm;
  margin-right: 4cm;
  padding: 30px 0;
  position: static;
  font-size: 1.4em;
}

/* NOTE: slideshow container */

.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
  margin-left: auto;
  margin-right: auto;
}

.deluxe{
  display: none;
}

.padrao{
  display: none;
}

.crowded{
  display: none;
}

div.auto-menu{
  margin-left: 650px;
  margin-right: 650px;
}

div.autoSlide{
  margin-left: auto;
  margin-right: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* PADROES DO CONTATO - start*/
fieldset{
  background: #f2f2f2;
  color: white;
  margin-left: 5cm;
  margin-right: 5cm;
  box-sizing: border-box;
  font-family: "Lucida Console", Courier, monospace;
}

label{
  background: #f2f2f2;
  color: black;
}

input{
  background: white;
  color: #717171;
}

select{
  background: white;
  color: #717171;
}

legend{
  background: #f2f2f2;
  color: black;
}

textarea{
  background: white;
  color: #717171;
}

/* PADROES DO CONTATO - end*/

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* NOTE: PADROES DO MENU - start*/
nav{
  width: auto;
  font-size: 75%;
  color: #800000;
  text-align: center;
  margin: auto;
  position: center;
}

nav ul {
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav a{
  padding: 10px 40px;
  font-size: 1.4em;
}

nav a:link{
  text-decoration: none;
  font-weight: bold;
  color: inherit;
  padding: 10px 40px;

}

nav a:hover{
  font-style: normal;
  text-transform: none;
  color: #000000;
  background-color: #990000;
  border-radius: 5px;
  font-size:1.3em;
}

nav a:visited{
  font-style: normal;
  color: #ff0000;
  border-radius: 5px;
  font-size:95%;
}

footer{
  text-align: center;
  font-size: 0.6em;
  color: white;
  border: 2px solid black;
  background: black;
}

div#contato{
  color: #FFFFFF;
  text-align: left;
  padding: 10px 40px;
}

div#contato::placeholder{
  color: white;
  opacity: 1;
}

form{
  margin: auto;
}
